<section class="p-5 shadow my-5 w-75 mx-auto rounded bg-light border-top border-primary border-4">
    <h1 class="h3 text-primary fw-bold mb-3">Verification</h1>
    <p class="text-muted small">Enter the 6-digit code to verify your identity.</p>

    @if (msgError) {
        <div class="alert alert-danger p-2 small mb-3">
            {{ msgError }}
        </div>
    }

    <form [formGroup]="verifyCodeForm" (ngSubmit)="submitVerifyCode()">
        <div class="mb-4">
            <label for="code" class="form-label fw-bold">Reset Code:</label>
            <input 
                formControlName="resetCode" 
                type="text" 
                id="code" 
                class="form-control text-center fs-2 fw-bold" 
                placeholder="000000"
                maxlength="6">
        </div>

        <button [disabled]="verifyCodeForm.invalid || isLoading" type="submit" 
                class="btn btn-primary d-block ms-auto px-5 py-2 rounded-pill shadow-sm">
            @if (isLoading) {
                <i class="fas fa-spinner fa-spin me-2"></i>
            }
            Verify
        </button>
    </form>
</section>