<section class="p-5 shadow my-4 w-75 mx-auto rounded bg-light">
    <h1 class="h2 text-primary fw-bold mb-4">Login Now:</h1>

    @if (msgError) {
    <div class="alert alert-danger p-2 small animate__animated animate__fadeIn">
        {{ msgError }}
    </div>
    }

    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input formControlName="email" type="email" id="email" class="form-control"
                [class.is-invalid]="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input formControlName="password" type="password" id="password" class="form-control"
                [class.is-invalid]="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <a routerLink="/forgot-password" class="text-primary small text-decoration-none fw-bold" style="cursor: pointer;">Forgot
                Password?</a>
        </div>
        <button [disabled]="loginForm.invalid || isLoading" type="submit"
            class="btn btn-primary d-block ms-auto mt-4 px-4 py-2 rounded-pill shadow-sm">
            @if (isLoading) {
            <i class="fas fa-spinner fa-spin me-2"></i>
            }
            Login
        </button>
    </form>
</section>