<form [formGroup]="resetForm" (ngSubmit)="submitReset()">
    <div class="mb-3">
        <label for="email">Email:</label>
        <input formControlName="email" type="email" class="form-control" id="email">
    </div>

    <div class="mb-3">
        <label for="newPass">New Password:</label>
        <input formControlName="newPassword" type="password" class="form-control" id="newPass">
    </div>

    <button [disabled]="resetForm.invalid" class="btn btn-success w-100">Reset Password</button>
</form>